/*

    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;

*/

* {
    padding: 0;
    margin: 0;
}


/*- - - - Banner - - - -*/

#banner {
    background: url('images/background_banner.jpg') no-repeat center;
    background-size: cover;
}

/*-- NAV --*/

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 3%;
    transition: all 0.3s;
    z-index: 1000;
}

.navbar:hover {

    padding-top: 0.5%;
    padding-bottom: 0.5%;

    background: #2d2322;
    /* Old browsers */
    background: -moz-linear-gradient(left, #44352d 0%, #2d2322 50%, #1a1a1c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #44352d 0%, #2d2322 50%, #1a1a1c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #44352d 0%, #2d2322 50%, #1a1a1c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44352d', endColorstr='#1a1a1c', GradientType=1);
    /* IE6-9 */
}

.logo {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    float: left;
    margin-left: 10.3%;
    text-decoration: none;
}

.logo h3 {
    text-transform: capitalize;
    text-decoration: none;
    color: #ffdcc0;
    font-size: 1.6rem;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.logo p {
    color: rgba(244, 244, 244, 0.63);
    font-size: 11px;
    text-align: center;
    margin-top: -3%;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.logo:hover > h3 {
    color: #ef7272;
}

.logo:hover > p {
    color: #68b0f1;
}

nav {
    float: right;
    margin-top: 0.7%;
    margin-right: 11.5%;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 3rem;
    display: inline-block;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-position: under;
    transition: all 0.2s;
}

nav a:first-child {
    margin-left: 0%;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #f45151;
    color: rgb(245, 172, 172);
}

.active_nav {
    text-decoration: none !important;
}

.active_nav:after {
    content: '';
    height: 2.6px;
    background: #fee4c9;
    display: block;
    margin-top: 2%;
    width: 95%;
    margin: auto;
    transition: all 0.2s;
}

.active_nav:hover {
    text-decoration: none !important;
}

a:hover:after {
    background: #f45151;
}



/*- - - - About Us - - - -*/

#about_us {
    background-color: #fafafa;
}

.about_us_container {
    width: 780px;
    margin: auto;
    padding-top: 2.3%;
    padding-bottom: 2.3%;
}

.about_us_container img,
.about_us_content {
    display: inline-block;
}

.about_us_container img {
    width: 215px;
}

.about_us_content {
    width: 552px;
    position: absolute;
    margin-top: 2%;
    margin-left: 3%;
}

.about_us_content h4 {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.07rem;
    text-align: center;
    font-weight: 900;
    font-size: 2.2rem;
    color: #6b6b6b;
    width: 90%;
    display: block;
    margin: auto;
}

.about_us_content p {
    color: #5a5959;
    font-family: "ubuntu", sans-serif;
    margin-top: 1rem;
    font-size: 0.82rem;
}

/*- - - - Content - - - -*/

.banner_content_container {
    padding: 18% 0px 10% 10%;
}

.banner_content h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4rem;
    color: #cbcfce;
    letter-spacing: 1px;
    word-spacing: 2.5px;
    line-height: 3.1rem;
    text-align: left;
    padding-right: 65%;
}

.banner_content p {
    font-family: 'Lato', sans-serif;
    color: #b8b8b8;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: left;
    padding-right: 60%;
}

.banner_content button {
    font-family: 'Montserrat', sans-serif;
    border-radius: none;
    outline: none;
    box-shadow: none;
    background-color: #f4a665;
    background: linear-gradient(to right, #ef5f5f, #ba8c62);
    border: none;
    font-weight: bolder;
    padding: 1% 2%;
    border-radius: 1.5rem;
    letter-spacing: 1.1px;
    color: #2a2a2a;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.banner_content button:hover {
    background-color: #ba8c62;
    background: linear-gradient(to right, #ba8c62, #ba8c62);
}


/*- - - - 3 pets - - - -*/

#our_pet_content {
    font-family: 'montserrat', sans-serif;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #f6f6f6;
}

.our_pet_content_container h4,
#donate .donate_container h4 {
    text-align: center;
    font-size: 2.2rem;
    color: #6b6b6b;
    display: block;
    margin: auto;
}

.pet_row {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 3.5%;
}

.pets {
    width: 30%;
    display: inline-block;
    border-radius: 3%;
    color: white;
    background-color: white;
    transition: all 0.3s;
    cursor: pointer;
    padding-bottom: 1.5%;
    margin-left: 2.5%;
}

.pets:hover {
    box-shadow: 0px 4px 18px 2px #9f9e9e;
}

.effect {
    background: transparent;
    display: block;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.pets:hover span {
    background: #00F260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(164, 164, 164, 0.35), rgba(137, 137, 137, 0));
    ;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgba(164, 164, 164, 0.35), rgba(137, 137, 137, 0));
    ;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pets img {
    width: 100%;
    margin-top: 6%;
}

.pets p {
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-size: 1.4rem;
    color: #373737;
    margin-top: 3%;
    margin-bottom: 3%;
}

.pets button,
.get_to_know button {
    font-family: 'Lato', sans-serif;
    border: 2px solid #f1cdb3;
    outline: none;
    background-color: white;
    padding: 3.5% 13% !important;
    border-radius: 1.5rem;
    letter-spacing: 1px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: block;
    margin: auto;
    text-align: center;
}

.get_to_know {
    margin-top: 3%;
}

.get_to_know button {
    padding: 0.8% 3% !important;
}

.get_to_know button a {
    text-decoration: none;
    color: #525252;
}

.pets button:hover,
.get_to_know button:hover {
    /*background: linear-gradient(to right , #f45151, #f45151);*/
    background-color: #f1cdb3;
}



/* Arrows */

#our_pet_content {
    position: relative;

}

.arrows {
    width: 64%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.backward_arrow,
.forward_arrow {
    border-radius: 50%;
    border: 2px solid #ffddc2;
    display: inline-block;
    background-color: white;
    padding: 2.0% 1.5%;
    cursor: pointer;
    transition: all 0.3s;
}

.forward_arrow {
    float: right;
}

.backward_arrow p,
.forward_arrow p {
    font-family: monospace;
    color: #242424;
    font-weight: 900;
    line-height: 1rem;
    font-size: 3rem;
    text-align: center;
    margin-top: -20%;
}

.backward_arrow:hover,
.forward_arrow:hover {
    background-color: rgba(255, 221, 194, 0.57);
    border: 2px solid rgba(54, 237, 54, 0.65);
}

.backward_arrow:hover p,
.forward_arrow:hover p {
    color: rgba(54, 237, 54, 0.65);
}


/*- - - - Donate - - - -*/

.donate_container {
    padding: 2.8% 0;
    background-color: #fafafa;
}

.donate_top {
    width: 60%;
    margin: auto;
    margin-top: 4%;
}

.donate_bottom {
    width: 44%;
    margin: auto;
    margin-top: 4%;
}

.donate_top .item {
    cursor: pointer;
    width: 8vw;
    display: inline-block;
    margin-left: 5%;
}


.donate_bottom .item {
    cursor: pointer;
    width: 8vw;
    display: inline-block;
    margin-left: 6%;
}

.item img {
    width: 45%;
    margin-left: 26%;
    transition: all 0.3s 0.03s;
}

.item p {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: #5f5f5f;
    margin-top: 4%;
}

.item:hover img {
    -webkit-filter: invert(60%);
    filter: invert(60%);
}

.item:hover p {
    color: rgba(244, 81, 81, 0.83);
}



/*- - - - Bank Donate - - - -*/

section#donate_money {
    background-color: #f6f6f6;
}

.donate_money_container {
    width: 75%;
    margin: auto;
    padding: 3.5% 0;
}

.donate_money_container img {
    display: inline-block;
}

.donate_money_content {
    display: inline-block;
    width: 30%;
    position: absolute;
}

.donate_money_content h4 {
    font-family: 'montserrat', sans-serif;
    font-size: 2rem;
    color: #4c4c4c;
    letter-spacing: 0.5px;
    line-height: 2.1rem;
}

.donate_money_content h6 {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: #5a5a5a;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 2%;
}

.bank_account {
    width: 52%;
    padding: 1% 4% 0px 4%;
    background-color: #f2cdb3;
    border-radius: 0.55rem;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
}

.bank_account img {
    width: 12%;
    display: inline-block;
}

.bank_account p {
    display: inline-block;
    float: right;
    line-height: 1.5rem;
    color: black !important;
}

.donate_money_content p {
    font-family: 'Roboto', sans-serif;
    color: rgba(80, 80, 80, 0.78);
    font-size: 0.85rem;
}


/*- - - - Fotter - - - -*/

#fotter {
    background: url('images/fotter_backround.jpg') no-repeat center;
    background-size: cover;
    display: block;
}

.fotter_container {
    padding-bottom: 2%;
}

.fotter_contact {
    font-family: 'ubuntu', sans-serif;
    width: 25%;
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 4.5%;
}

.fotter_contact h6,
.fotter_adress h6 {
    font-family: 'ubuntu', sans-serif;
    font-size: 1.8rem;
    color: #e0e0e0;
    font-weight: 400;
    margin-bottom: 2%;
}

.fotter_content {
    display: inline-block;
}

.fotter_content img,
.fotter_adress img {
    float: left;
    margin-right: 2%;
    width: 7%;
}

.fotter_adress img {
    margin-top: 1.5%;
    margin-right: 1%;
    width: 4%;
}

.fotter_content p,
.fotter_adress p {
    float: left;
    margin-top: 1%;
    color: #edd7c7;
    font-size: 0.9rem;
}

.adress {
    width: 200%;
    margin-left: -1.5%;
}

.adress p {
    line-height: 1.3rem;
}

.fotter_adress {
    font-family: 'ubuntu', sans-serif;
    width: 32%;
    display: inline-block;
    position: absolute;
    margin-left: 2%;
    margin-top: 4.5%;
}


/*  responsive  */

@media only screen and (min-width:280px) and (max-width:1024px) {
    /* logo */
    .logo {
        margin-left: 5.3%;
    }
    .logo h3 {
        font-size: 1.5rem;
    }
    .logo p {
        font-size: 11px;
    }
    nav {
        margin-right: 5.5%;
    }
    .banner_content p {
        padding-right: 54%;
    }
    .banner_content h4 {
        padding-right: 58%;
    }

    /* about us */
    .about_us_container {
        width: 630px;
    }
    .about_us_container img {
        width: 175px;
    }
    .about_us_content {
        width: 376px;
    }
    .about_us_content h4 {
        font-size: 25px;
    }
    .about_us_content p {
        font-size: 0.72rem;
    }

}

@media only screen and (min-width:280px) and (max-width:800px) {

    /* banner */
    #banner {
        background: url(images/background_banner.jpg) no-repeat left;
    }
    .banner_content_container {
            padding: 35% 0px 3% 0%;
    }
    .banner_content h4 {
        text-align: center;
        line-height: 2.8rem;
        padding-right: 0;
        font-size: 31px;
    }
    .banner_content p {
        display: block;
        text-align: center;
        padding: 0 16%;
        font-size: 10px;
    }
    .banner_content button {
        margin: auto;
        display: block;
        padding: 1.5% 9%;
    }

    /* about us */
    .about_us_container img {
        width: 170px;
    }

    .about_us_content {
        width: 353px;
    }
    .about_us_container {
        width: 555px;
    }
    .about_us_content p {
        font-size: 12px;
    }
    .about_us_content {
        margin-top: 0%;
    }

}


@media only screen and (min-width:280px) and (max-width:600px) {


    /* about us */
    .about_us_container {
        width: 420px;
    }
    .about_us_container img {
        width: 155px;
    }
    .about_us_content {
        width: 246px;
    }
    .about_us_content h4 {
        font-size: 20px;
    }
    .about_us_content p {
        font-size: 10px;
    }

    /* fotter */
    .fotter_contact h6,
    .fotter_adress h6 {
        font-size: 0.8rem;
        width: 110%;
    }
    .fotter_contact {
        width: 48%;
        margin-left: 2%;
    }
    .fotter_content p,
    .fotter_adress p {
        font-size: 0.6rem;
        margin-top: -0.23%;
    }
    .adress {
        margin-top: 8%;
    }
    .adress p {
        line-height: 0.65rem;
    }
}


@media only screen and (min-width:280px) and (max-width:600px) {

    /* banner */
    .banner_content h4 {
        font-size: 24px;
    }

    /* about us */
    .about_us_container {
        width: 340px;
    }
    .about_us_container img {
        width: 110px;
    }
    .about_us_content {
        width: 207px;
    }
    .about_us_content h4 {
        font-size: 16px;
    }
    .about_us_content p {
        font-size: 7.5px;
        margin-top: 8px;
    }

}
