/*

    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;

*/

* {
    padding: 0;
    margin: 0;
}


/*- - - - Banner - - - -*/

#banner {
    background: url('images/background_banner.jpg') no-repeat center;
    background-size: cover;
    /*height: 100vh;*/
    /*temporary remove*/
}

header {}

/*-- NAV --*/

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 86vw;
    margin: 3% 0px 0 6%;
}

.logo {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    float: left;
    margin-left: 5%;
}

.logo h3 {
    text-transform: capitalize;
    color: #ffdcc0;
    font-size: 1.6rem;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.logo p {
    color: rgba(244, 244, 244, 0.63);
    font-size: 11px;
    text-align: center;
    padding-top: 0.8%;
    transition: all 0.3s ease-out;
}

.logo:hover > h3 {
    color: #ef7272;
}

.logo:hover > p {
    color: #68b0f1;
}

nav {
    float: right;
    margin-top: 0.8%;
    margin-right: 5%;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 3rem;
    display: inline-block;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-position: under;
    transition: all 0.2s;
}

nav a:first-child {
    margin-left: 0%;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #f45151;

}

.active_nav:after {
    content: '';
    height: 2.6px;
    background: #fee4c9;
    display: block;
    margin-top: 2%;
    width: 95%;
    margin: auto;
    transition: all 0.2s;
}

.active_nav:hover {
    text-decoration: none !important;
}

a:hover:after {
    background: #f45151;
}


/*- - - - Content - - - -*/

.banner_content {
    
}

.banner_content_container {
    padding: 18% 0px 10% 10%;
}

.banner_content h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4rem;
    color: #cbcfce;
    letter-spacing: 1px;
    word-spacing: 2.5px;
    line-height: 3.1rem;
    text-align: left;
}

.banner_content p {
    font-family: 'Lato', sans-serif;
    color: #b8b8b8;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: left;
}

.banner_content button {
    font-family: 'Montserrat', sans-serif;
    border-radius: none;
    outline: none;
    box-shadow: none;
    background-color: #f4a665;
    background: linear-gradient(to right , #ef5f5f, #ba8c62);
    
    border: none;
    font-weight: bolder;
    padding: 1% 2%;
    border-radius: 1.5rem;
    letter-spacing: 1.1px;
    color: #2a2a2a;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.banner_content button:hover {
    /*color: white;*/
    background-color: #f45151 !important;
    background: linear-gradient(to right , #f45151, #f45151);
}








