/*

    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;

*/

* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    tap-highlight-color: rgba(255, 255, 255, 0);
}


/*- - - - Banner - - - -*/

#banner {
    background: url('images/background_banner.jpg') no-repeat center;
    background-size: cover;
}




/*- - - - About Us - - - -*/

#about_us {
    background-color: #fafafa;
}

.about_us_container {
    width: 780px;
    margin: auto;
    padding-top: 2.3%;
    padding-bottom: 2.3%;
}

.about_us_container img,
.about_us_content {
    display: inline-block;
}

.about_us_container img {
    width: 215px;
}

.about_us_content {
    width: 552px;
    position: absolute;
    margin-top: 1%;
    margin-left: 3%;
}

.about_us_content h4 {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.07rem;
    text-align: center;
    font-weight: 900;
    font-size: 2.2rem;
    color: #6b6b6b;
    width: 90%;
    display: block;
    margin: auto;
}

.about_us_content p {
    color: #5a5959;
    font-family: "ubuntu", sans-serif;
    margin-top: 1rem;
    font-size: 16px;
}


/*- - - - Content - - - -*/

.banner_content_container {
    padding: 18% 0px 10% 10%;
}

.banner_content h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4rem;
    color: #cbcfce;
    letter-spacing: 1px;
    word-spacing: 2.5px;
    line-height: 3.1rem;
    text-align: left;
    padding-right: 65%;
}

.banner_content p {
    font-family: 'Lato', sans-serif;
    color: #b8b8b8;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: left;
    padding-right: 60%;
}

.banner_content button {
    font-family: 'Montserrat', sans-serif;
    border-radius: none;
    outline: none;
    box-shadow: none;
    background-color: #f4a665;
    background: linear-gradient(to right, #ef5f5f, #ba8c62);
    border: none;
    font-weight: bolder;
    padding: 1.2% 4.5%;
    border-radius: 1.5rem;
    letter-spacing: 1.1px;
    color: #2a2a2a;
    cursor: pointer;
    background-size: 100% 200%;
    transition: all 0.3s ease-out;
}

.banner_content button:hover {
    background-size: 200% 100%;
}


/*- - - - 3 pets - - - -*/

#our_pet_content {
    font-family: 'montserrat', sans-serif;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #f6f6f6;
}

.our_pet_content_container h4,
#donate .donate_container h4 {
    text-align: center;
    font-size: 2.3rem;
    color: #6b6b6b;
    display: block;
    margin: auto;
}

.pet_row {
    width: 718px;
    display: block;
    margin: auto;
    margin-top: 3.5%;
}

.pets {
    width: 30%;
    display: inline-block;
    border-radius: 3%;
    color: white;
    background-color: white;
    transition: all 0.3s;
    cursor: pointer;
    padding-bottom: 1.5%;
    margin-left: 2.5%;
}

.pets:hover {
    box-shadow: 0px 3px 13px 1.5px rgba(134, 134, 134, 0.69);
}

.effect {
    background: transparent;
    display: block;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.pets:hover span {
    background: #00F260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(164, 164, 164, 0.35), rgba(137, 137, 137, 0));
    ;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgba(164, 164, 164, 0.35), rgba(137, 137, 137, 0));
    ;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pets img {
    width: 100%;
    margin-top: 6%;
}

.pets p {
    text-align: center;
    font-family: 'ubuntu', sans-serif;
    font-size: 1.4rem;
    color: #373737;
    margin-top: 3%;
    margin-bottom: 3%;
}

.pets button,
.get_to_know button {
    font-family: 'Lato', sans-serif;
    border: 2px solid #f1cdb3;
    outline: none;
    background-color: white;
    padding: 3.5% 13% !important;
    border-radius: 1.5rem;
    letter-spacing: 1px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: block;
    margin: auto;
    text-align: center;
}

.get_to_know {
    margin-top: 3%;
}

.get_to_know button {
    padding: 0.8% 3% !important;
    font-family: 'Lato', sans-serif;
    background-color: #f1cdb3;
}

.get_to_know button a {
    text-decoration: none;
    color: #525252;
}

.pets button:hover,
.get_to_know button:hover {
    /*background: linear-gradient(to right , #f45151, #f45151);*/
    background-color: #f1cdb3;
}

.get_to_know button:hover {
    background-color: white;
}


/* Arrows */

#our_pet_content {
    position: relative;
}

.arrows {
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.backward_arrow,
.forward_arrow {
    border-radius: 50%;
    border: 2px solid #ffddc2;
    display: inline-block;
    background-color: white;
    padding: 2.0% 1.5%;
    cursor: pointer;
    transition: all 0.3s;
}

.forward_arrow {
    float: right;
}

.backward_arrow p,
.forward_arrow p {
    font-family: monospace;
    color: #242424;
    font-weight: 900;
    line-height: 1rem;
    font-size: 3rem;
    text-align: center;
    margin-top: -20%;
}

.backward_arrow:hover,
.forward_arrow:hover {
    background-color: rgba(255, 221, 194, 0.57);
    border: 2px solid rgba(54, 237, 54, 0.65);
}

.backward_arrow:hover p,
.forward_arrow:hover p {
    color: rgba(54, 237, 54, 0.65);
}


/*- - - - Donate - - - -*/

.donate_container {
    padding: 6% 0;
    background-color: #fafafa;
}

.donate_top {
    width: 779px;
    margin: auto;
    margin-top: 4%;
}

.donate_top .item:last-child {
    display: none;
}

.donate_bottom {
    width: 634px;
    margin: auto;
    margin-top: 4%;
}

.donate_top .item {
    cursor: pointer;
    width: 117px;
    display: inline-block;
    margin-left: 5.6%;
}

.donate_top .item:first-child {
    margin-left: 0px;
}

.donate_bottom .item {
    cursor: pointer;
    width: 109px;
    display: inline-block;
    margin-left: 9%;
}

.donate_bottom .item:first-child {
    margin-left: 0%;
}

.item img {
    width: 45%;
    margin-left: 26%;
    transition: all 0.3s 0.03s;
}

.item p {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: #5f5f5f;
    margin-top: 4%;
}

.item:hover img {
    -webkit-filter: invert(60%);
    filter: invert(60%);
}

.item:hover p {
    color: #29b008;
}


/*- - - - Bank Donate - - - -*/

section#donate_money {
    background-color: #f6f6f6;
}

.donate_money_container {
    width: 930px;
    margin: auto;
    padding: 3.5% 0;
}

.donate_money_container img {
    display: inline-block;
}

.donate_money_content {
    display: inline-block;
    width: 395px;
    position: absolute;
    margin-left: 2%;
}

.donate_money_content h4 {
    font-family: 'montserrat', sans-serif;
    font-size: 2rem;
    color: #4c4c4c;
    letter-spacing: 0.5px;
    line-height: 2.1rem;
}

.donate_money_content h6 {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: #5a5a5a;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 2%;
}

.bank_account {
    width: 52%;
    padding: 1% 4% 0px 4%;
    background-color: #f2cdb3;
    border-radius: 0.55rem;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
}

.bank_account img {
    width: 12%;
    display: inline-block;
}

.bank_account p {
    display: inline-block;
    float: right;
    line-height: 1.5rem;
    color: black !important;
}

.donate_money_content p {
    font-family: 'Roboto', sans-serif;
    color: rgba(80, 80, 80, 0.78);
    font-size: 14px;
}



/*  responsive  */

@media only screen and (min-width:280px) and (max-width:1024px) {
    .banner_content p {
        padding-right: 54%;
    }
    .banner_content h4 {
        padding-right: 58%;
    }
    /* about us */
    .about_us_container {
        width: 585px;
    }
    .about_us_container img {
        width: 175px;
    }
    .about_us_content {
        width: 376px;
    }
    .about_us_content h4 {
        font-size: 25px;
    }
    .about_us_content p {
        font-size: 0.72rem;
    }
    /* pets */
    .pet_row {
        width: 645px;
    }
    .our_pet_content_container h4,
    #donate .donate_container h4 {
        font-size: 27px;
    }
    .pets {
        width: 190px;
    }
    .pets p {
        font-size: 23px;
    }
    .pets button {
        padding: 2.5% 10% !important;
        font-size: 13px;
    }
    .get_to_know button {
        padding: 1.1% 5% !important;
        font-size: 14px;
    }
    /* donate items */
    .donate_top .item:last-child {
        display: none;
    }
    .donate_bottom .item:first-child {
        display: inline-block;
    }
    /* arrows */
    .arrows {
        width: 745px;
    }
    /* donate */
    .donate_money_container {
        width: 770px;
    }
    .donate_money_content {
        width: 355px;
        margin-left: 3%;
    }
    .donate_money_content h4 {
        font-size: 25px;
        line-height: 26px;
    }
    #donateImg {
        width: 387px;
    }
    .bank_account {
        width: 53%;
    }
    .bank_account p {
        line-height: 20px;
    }
    .donate_money_content p {
        font-size: 12.5px;
    }
}

@media only screen and (min-width:280px) and (max-width:800px) {
    /* banner */
    #banner {
        background-image: linear-gradient(to right bottom, rgba(125, 121, 121, 0.35), rgba(13, 8, 8, 0.75)), url("images/background_banner.jpg");
    }
    .banner_content_container {
        padding: 23% 0px 5% 0%;
    }
    .banner_content h4 {
        text-align: center;
        line-height: 2.8rem;
        padding-right: 0;
        font-size: 31px;
        margin-bottom: 5%;
    }
    .banner_content p {
        display: block;
        text-align: center;
        padding: 0 17%;
        font-size: 13px;
        margin-bottom: 6%;
    }
    .banner_content button {
        margin: auto;
        display: block;
        padding: 1.3% 6%;
    }
    /* about us */
    .about_us_container img {
        width: 170px;
    }
    .about_us_content {
        width: 330px;
    }
    .about_us_container {
        width: 520px;
    }
    .about_us_content h4 {
        letter-spacing: 0.6px;
        line-height: 25px;
    }
    .about_us_content p {
        font-size: 11px;
    }
    .about_us_content {
        margin-top: 0%;
    }
    /* pets */
    .pets {
        width: 160px;
        margin-left: 1.2%;
    }
    .pet_row {
        width: 516px;
    }
    /* arrows */
    .arrows {
        width: 580px;
    }
    .backward_arrow p,
    .forward_arrow p {
        line-height: 1rem;
        font-size: 30px;
    }
    .backward_arrow,
    .forward_arrow {
        padding: 1.4% 1%;
    }
    /* donate stuffs */
    #donate .donate_container h4 {
        font-size: 24px;
    }
    .donate_top {
        width: 580px;
    }
    .donate_top .item {
        width: 95px;
        margin-left: 3.5%;
    }
    .donate_top .item:last-child {
        display: none;
    }
    .donate_bottom {
        width: 447px;
    }
    .donate_bottom .item {
        width: 95px;
        margin-left: 3.5%;
    }
    .donate_bottom .item:last-child p {
        width: 150%;
        margin-left: -25%;
    }
    .item p {
        font-size: 15px;
    }
    /* donate bank */
    .donate_money_container {
        width: 100%;
        padding: 2.5% 0;
    }
    #donateImg {
        width: 266px;
        display: block;
        margin: auto;
    }
    .donate_money_content {
        width: 312px;
        position: initial;
        display: block;
        margin: auto;
        margin-top: 2%;
    }
    .donate_money_content h4 {
        font-size: 26px;
        line-height: 23px;
        text-align: center;
    }
    .donate_money_content h6 {
        margin-top: 3%;
        text-align: center;
    }
    .bank_account {
        width: 60%;
        margin: auto;
        margin-bottom: 3%;
    }
    .bank_account p {
        font-size: 12.5px;
        line-height: 24px;
    }
}

@media only screen and (min-width:280px) and (max-width:600px) {
    /* banner */
    #banner {
        background-image: linear-gradient(to right bottom, rgba(125, 121, 121, 0.35), rgba(13, 8, 8, 0.75)), url('images/background_banner_low.jpg');
    }
    .banner_content h4 {
        font-size: 24px;
    }
    /* about us */
    .about_us_container {
        width: 420px;
    }
    .about_us_container img {
        width: 155px;
        content: url("images/aboutus_low.png");
    }
    .about_us_content {
        width: 246px;
    }
    .about_us_content h4 {
        font-size: 20px;
        margin-top: 4%;
    }
    .about_us_content p {
        font-size: 10px;
        margin-top: 8px;
    }
    /* pets */
    #our_pet_content {
        padding-top: 7%;
        padding-bottom: 7%;
    }
    .our_pet_content_container h4,
    #donate .donate_container h4 {
        font-size: 20px;
    }
    .pet_row .pets:last-child {
        display: none;
    }
    #ourpet1 {
        content: url('../ourpets/image/1_low.png');
    }
    #ourpet2 {
        content: url('../ourpets/image/2_low.png');
    }
    #ourpet3 {
        content: url('../ourpets/image/3_low.png');
    }
    .pets {
        width: 134px;
    }
    .pets:nth-child(2) {
        margin-left: 5%;
    }
    .pet_row {
        width: 295px;
    }
    .pets p {
        font-size: 16px;
    }
    .pets button {
        padding: 0px 10% !important;
        font-size: 9px;
        line-height: 16px;
        margin-bottom: 7%;
    }
    .get_to_know button {
        padding: 0% 4% !important;
        font-size: 14px;
        line-height: 22px;
    }
    /* arrows */
    .arrows {
        width: 393px;
    }
    /* buttons */
    .get_to_know {
        margin-top: 10%;
    }
    /* donate items */
    .donate_items {
        padding: 9% 0;
        display: block;
        margin: auto;
    }
    .donate_top,
    .donate_bottom {
        width: 387px;
        margin-top: 0px;
    }
    .donate_top .item,
    .donate_bottom .item {
        margin-left: 12%;
    }
    .donate_bottom .item:first-child {
        margin-left: 0px;
    }
    .donate_top .item:last-child {
        display: inline-block;
    }
    .donate_top .item:nth-child(4) {
        margin-left: 0px;
    }
    .donate_top .item:nth-child(4),
    .donate_top .item:nth-child(5),
    .donate_top .item:nth-child(6) {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .donate_bottom .item:first-child {
        display: none;
        margin-left: 0px;
    }
    .donate_bottom .item:nth-child(2) {
        margin-left: 0px;
    }

    /* donate-bank */
    #donateImg {
        content: url('images/donate_low.png');
    }
}

@media only screen and (min-width:280px) and (max-width:480px) {
    /* banner */
    .banner_content_container {
        padding: 35% 0px 16% 0%;
    }
    .banner_content h4 {
        font-size: 22px;
        letter-spacing: 0px;
    }
    .banner_content p {
        font-size: 9px;
        margin-bottom: 5.5%;
        padding: 0 17%;
    }
    .banner_content button {
        padding: 2.5% 5%;
    }
    /* pets */
    .pet_row {
        width: 300px;
    }
    .pets {
        box-shadow: 0px 2px 11px 0px rgba(181, 181, 181, 0.8);
    }
    .pets:nth-child(2) {
        margin-left: 5%;
    }
    /* arrows */
    .arrows {
        width: 255px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 71%);
    }
    .backward_arrow,
    .forward_arrow {
        padding: 1.6% 1.5%;
        background-color: rgba(241, 205, 179, 0.88);
    }
    .backward_arrow p,
    .forward_arrow p {
        color: #767676;
        width: 18px;
        font-size: 18px;
        line-height: 22px;
        padding-top: 1%;
    }
    .get_to_know button {
        font-size: 9px;
    }
    /* about us */
    .about_us_content {
        width: 201px;
        margin: auto;
        margin-top: 2%;
        margin-left: 1%;
    }
    .about_us_container {
        width: 340px;
        padding: 10% 0px;
    }
    .about_us_container img {
        width: 128px;
    }
    .about_us_content h4 {
        font-size: 17px;
        line-height: 18px;
    }
    .about_us_content p {
        font-size: 8.1px;
        margin-top: 2px;
    }
    /* donate items */
    .donate_items {
        padding: 9% 0;
        display: block;
        margin: auto;
    }
    .donate_top,
    .donate_bottom {
        width: 276px;
        margin-top: 0px;
    }
    .donate_top .item,
    .donate_bottom .item {
        margin-left: 7%;
        width: 76px;
    }
    .donate_bottom .item:first-child {
        margin-left: 0px;
    }
    .donate_top .item:last-child {
        display: inline-block;
    }
    .donate_top .item:nth-child(4) {
        margin-left: 0px;
    }
    .donate_top .item:nth-child(4),
    .donate_top .item:nth-child(5),
    .donate_top .item:nth-child(6) {
        margin-top: 7%;
        margin-bottom: 7%;
    }
    .donate_bottom .item:first-child {
        display: none;
        margin-left: 0px;
    }
    .donate_bottom .item:nth-child(2) {
        margin-left: 0px;
    }
    /* bank donate */
    .donate_money_content h4 {
        font-size: 20px;
    }
    .donate_money_content h6 {
        margin-top: 2%;
        font-size: 11px;
    }
    .donate_money_content p {
        font-size: 11px;
    }
}
