* {
    padding: 0;
    margin: 0;
}

.contact_up {
    background-image: linear-gradient(to right bottom, rgba(125, 121, 121, 0.35), rgba(13, 8, 8, 0.75)), url(images/background.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact_up_txt {
    padding-top: 22%;
    padding-bottom: 10%;
}

.contact_up_txt h2 {
    font-family: 'montserrat', sans-serif;
    color: whitesmoke;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 12px;
    text-align: center;
}

.contact_up_txt h2 span {
    color: #6adcef;
}

.contact_up_txt p {
    text-align: center;
    color: #e0e0e0;
    font-size: 1.1rem;
    font-family: 'lato', sans-serif;
}

.contact_container {
    padding: 2%;
    background-color: rgba(244, 244, 244, 0.33);
}

.contact_container h2 {
    color: #5d5d5d;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -2.4px;
    font-weight: 300;
    font-size: 2.5rem;
}

.contact_container p {
    text-align: center;
    color: #7f8c8d;
    padding: 0;
    font-size: 1.1rem;
    font-family: 'loto', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 0.3%;
    margin-bottom: 2%;
}

.contact_container_info {
    margin: auto;
    margin-bottom: 3%;
    text-align: center;
}

.info {
    display: inline-block;
    position: relative;
    width: 30%;
}

.info img {
    position: absolute;
    width: 8%;
    left: 3%;
    top: 28%;
}

.info input {
    width: 82%;
    border: 1px solid #ded8d8;
    border-radius: 5px;
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1.15;
    padding: 6% 5% 5% 12%;
}

.info:not(:first-child) {
    margin-left: 3%
}

.contact_container_message {
    text-align: center;
    position: relative;
}

.contact_container_message img {
    position: absolute;
    width: 2%;
    left: 3%;
    top: 5%;
}

.contact_container_message textarea {
    width: 88.5%;
    border: 1px solid #ded8d8;
    border-radius: 5px;
    font-size: 17px;
    font-family: sans-serif;
    line-height: 1.15;
    padding: 1.2% 4%;
}

.contact_container form button {
    padding: 0.7% 1.5%;
    font-size: 1.2rem;
    border: 1px solid #a2a2a2;
    border-radius: 0.3rem;
    background-color: #ff6459;
    margin-left: 89%;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    color: white;
    transition: all 0.5s;
}

.contact_container form button:hover {
    background-color: #7dcc7f;
    color: #f7f7f7;
    border-color: #f7f7f7;
    box-shadow: 2px 2px 14px 2px #b1b1b1bd;
}

/*  responsive  */

/* max width formobile is 600px & max width for tablet is 1024px*/

@media only screen and (min-width:280px) and (max-width:1024px) {
    /* Banner Content */
    .contact_up_txt {
        padding-top: 36%;
    }
    .contact_up_txt h2 {
        font-size: 2rem;
        padding: 0px 10%;
    }
    .contact_up_txt p {
        font-size: 0.65rem;
    }
    .contact_container h2 {
        letter-spacing: -0.9px;
        font-size: 1.85rem;
    }
    .contact_container p {
        font-size: 0.8rem;
        margin-bottom: 1.4rem;
    }
    .info {
        display: block;
        width: 100%;
        margin-top: 3%;
    }
    .info img {
        width: 6%;
        left: 5%;
        top: 33%;
    }
    .contact_container_message img {
        width: 5%;
        left: 50px;
        top: 9%;
    }
    .info:not(:first-child) {
        margin-left: 0px;
    }
    .contact_container_message textarea {
        padding: 4.2% 13%;
    }
    .contact_container_message textarea {
        width: 72.5%;
    }
    .contact_container form button {
        display: block;
        margin: auto;
        margin-top: 4%;
        margin-bottom: 4%;
    }
}



@media only screen and (min-width: 280px) and (max-width: 615px) {
    .contact_container_message img {
        left: 18px;
        width: 6%;
        left: 20px;
        top: 6%;
    }

    /*= changing image =*/
    .contact_up {
        background-image: linear-gradient(to right bottom, rgba(125, 121, 121, 0.35), rgba(13, 8, 8, 0.75)), url(images/background_low.jpg);
    }
}
