* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    tap-highlight-color: rgba(255, 255, 255, 0);
}

/* navbar */

.navbar {
    padding: 1.5% 0px;
}

/* banner */

#banner {
    display: block;
    background-image: linear-gradient(to right bottom, rgba(125, 121, 121, 0.35), rgba(13, 8, 8, 0.75)), url('images/developer_background.jpg');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#banner .content {
    padding-top: 22%;
    padding-bottom: 11%;
}

#banner h5 {
    text-align: center;
    font-size: 30px;
    font-family: 'montserrat', sans-serif;
    color: white;
}

#banner p {
    text-align: center;
    font-family: 'lato', sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 30px;
}


/* developer section */

#developers {
    padding: 5% 0px;
    background-color: rgba(244, 244, 244, 0.33);
}

.developer_wrapper {
    box-shadow: 0px 0px 1px 0px rgba(144, 144, 144, 0.83);
    border: 1px solid rgba(88, 88, 88, 0.3607843137254902);
    width: 850px;
    height: 309px;
    margin: auto;
    margin-top: 6%;
    transition: all 0.3s;
}

#profile_image {
    width: 100%;
    height: 100%;
    z-index: 1000 !important;
    -webkit-clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
    position: relative;
    z-index: 1 !important;
    transition: all 0.3s;
}

/* hover effected span */

.profile_img {
    display: inline-block;
    height: 100%;
    width: 36.6%;
    padding-right: 2%;
    overflow: hidden;
}

.profile_img > .dev_follow {
    width: 36.15%;
    height: 100%;
    display: block;
    position: absolute;
    top: 45%;
    left: 0%;
    opacity: 0;
    z-index: 30;
    transition: all 0.3s cubic-bezier(0.62, 0.51, 0.6, 1.15) !important;
    visibility: hidden;
    font-family: 'lato', sans-serif;
}

#profile_image ~ span > img {
    width: 20%;
    padding-right: 15%;
    padding-top: 3%;
    display: block;
    margin: auto;
    z-index: 20;
}

.developer_detail:hover #profile_image {

    -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    filter: blur(2px) brightness(70%);
    transform: scale(1.1);
}

.second_dev .developer_detail:hover #profile_image {

    -webkit-clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
    filter: blur(2px) brightness(70%);
    transform: scale(1.1);
}

.developer_detail:hover .dev_follow {
    top: 21%;
    transition: all 0.3s 0s !important;
    visibility: visible;
    opacity: 1;
}

/* text */

#profile_image ~ span > h3 {
    font-size: 30px;
    color: #efefef;
    text-transform: uppercase;
    text-align: center;
    margin-left: -15%;
}

/* for second devlpoer */

.second_dev .profile_img {
    float: right;
    padding-right: 0px;
    padding-left: 2%;
}

.second_dev .devepoper_detail_wrapper {
    margin-left: 4%;
}

.second_dev #profile_image {
    float: right;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
}

.second_dev #profile_image ~ span {
    left: auto;
    right: -5%;
}

/* button */

#profile_image ~ span > button {
    background-color: white;
    border: none;
    box-shadow: none;
    padding: 1.5% 8%;
    border: 3px solid #e96060;
    -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%);
    margin-left: 20%;
    margin-top: 5%;
    transition: all 0.3s;
}

#profile_image ~ span > button a {
    text-decoration: none;
    color: #e96060;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    transition: all 0.3s;
}

#profile_image ~ span > button:hover {
    background-color: #e96060;
    border: 3px solid white;
    color: white;
}

#profile_image ~ span > button:hover a {
    color: white;
}

.developer_detail {
    width: 100%;
    height: 100%;
    position: relative;
    background: #a1fffa;
    background: -webkit-linear-gradient(to right, rgba(176, 235, 232, 0.64), rgba(146, 240, 236, 0.64)));
    background: linear-gradient(to right, rgba(176, 235, 232, 0.64), rgba(146, 240, 236, 0.64));
    position: relative;
    overflow: hidden;
}


.devepoper_detail_wrapper {
    text-align: center;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    width: 60%;
    z-index: 1;
    margin-left: 34%;
}

.devepoper_detail_wrapper h4 {
    margin-bottom: 25px;
    font-size: 28px;
    font-family: 'lato', sans-serif;
    text-align: center;
    letter-spacing: 0.3px;
    /* color: #3971f4; */
    /* first */
    color: #7e3ff5;
    background: -webkit-linear-gradient(top, #3971f4 30%, #7e3ff5 60%);
    background: linear-gradient(top, #3971f4 30%, #7e3ff5 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.devepoper_detail_wrapper h6 {
    letter-spacing: 0.3px;
    font-size: 20px;
    font-family: 'open+sans', sans-serif;
    font-weight: 600;
    color: #505050;
    text-align: center;
    margin-bottom: 15px;
}

/* you */

.last_dev #profile_image ~ span > h3 {
    font-size: 25px;
    color: #0f0f0f;
}

.last_dev #profession::before {
    content: url("images/code.png");
}

.devepoper_detail_wrapper #profession:before,
.devepoper_detail_wrapper #place:before {
    content: '';
    background: url('images/businessman.png') no-repeat center;
    background-size: cover;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    margin-left: -30px;
    margin-top: -2px;
}

.devepoper_detail_wrapper #place:before {
    background: url('images/place.png') no-repeat center;
    background-size: cover;
}

.devepoper_detail_wrapper h5 {
    text-align: center;
    margin-left: 10%;
    color: #191919;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'ubuntu', sans-serif;
}

.lang {
    text-align: center;
    margin-top: 1%;
    width: 49%;
    display: inline-block;
    float: left;
}


.lang img {
    width: 32px;
    margin-left: 20px;
    transition: all 0.3s ease-out;
}

.lang img:nth-child(2) {
    margin-left: 0px;
}


/* social media hover */

.lang img:hover {
    transform: scale(1.3);
    filter: grayscale(0.9);
}


/* responsive */

@media only screen and (min-width:800px) and (max-width:1024px) {
    .developer_wrapper {
        width: 780px;
        height: 275px;
    }

    .devepoper_detail_wrapper {
        width: 58%;
    }

}

@media only screen and (min-width:600px) and (max-width:800px) {

    /* banner */
    #banner .content {
        padding-top: 33%;
        padding-bottom: 12%;
    }

    /* Developer cards */
    .developer_wrapper {
        width: 585px;
        height: 215px;
    }
    .devepoper_detail_wrapper {
        width: 63%;
        margin-left: 37%;
    }
    .devepoper_detail_wrapper h4 {
        margin-bottom: 8px;
        font-size: 24px;
    }

    .devepoper_detail_wrapper h6 {
        letter-spacing: 0.3px;
        margin-bottom: 11px;
    }

    .lang {
        margin-top: 1%;
        width: 45%;
    }

    .devepoper_detail_wrapper h5 {
        margin-left: 8%;
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 6px;
    }
    .lang img {
        width: 25px;
        margin-left: 13px;
    }
}

@media only screen and (min-width:280px) and (max-width:600px) {

    /* Nav */
    .navbar {
        z-index: 100000;
    }

    /* banner */
    #banner .content {
        padding-top: 39%;
        padding-bottom: 15%;
    }
    #banner h5,
    #banner p {
        font-size: 18px;
    }

    .developer_wrapper {
        box-shadow: 0px 0px 1px 0px rgba(144, 144, 144, 0.83);
        border: 1px solid rgba(88, 88, 88, 0.3607843137254902);
        width: 380px;
        height: 596px;
        overflow: hidden;
    }

    .developer_detail {
        width: 100%;
        height: 100%;
    }
    .devepoper_detail_wrapper,
    .second_dev .devepoper_detail_wrapper {
        padding-top: 3%;
        padding-bottom: 5%;
        top: 77%;
        z-index: 10000;
        margin-left: 0px;
        width: 100%;
        background: -webkit-linear-gradient(to right, rgba(150, 222, 218, 0.64), rgba(146, 240, 236, 0.64));
        background: linear-gradient(to right, rgb(150, 222, 218), rgb(146, 240, 236));
    }
    .devepoper_detail_wrapper h4 {
        margin-bottom: 14px;
        font-size: 30px;
    }
    .devepoper_detail_wrapper h6 {
        letter-spacing: 0.3px;
        font-size: 20px;
        margin-bottom: 5px;
        margin-left: 7%;
    }
    .lang {
        margin-top: 1%;
        width: 100%;
        display: inline-block;
    }
    .devepoper_detail_wrapper h5 {
        margin-left: 0px;
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 8px;
        text-transform: uppercase;
    }
    .lang img {
        width: 32px;
        margin-left: 20px;
    }
    .lang:last-child #facebook img {
        margin-left: -2%;
    }

    /* profile image */
    .profile_img {
        display: block;
        height: 80%;
        width: 100%;
    }
    #profile_image,
    .second_dev #profile_image {
        width: 100%;
        height: 100%;
        z-index: 1000 !important;
        -webkit-clip-path: none;
        clip-path: none;
    }
    .developer_detail:hover #profile_image,
    .second_dev .developer_detail:hover #profile_image {
        -webkit-clip-path: none;
        clip-path: none;
    }

    /* span */
    .profile_img > .dev_follow {
        width: 100%;
        height: 50%;
        top: 16%;
        left: 0%;
        opacity: 0;
        z-index: 10000;
    }
    .developer_detail:hover .dev_follow,
    .developer_detail:hover .dev_follow {
        top: 10%;
    }
    #profile_image ~ span > h3,
    #profile_image ~ span > h3 {
        margin-left: 0px;
    }
    #profile_image ~ span > img {
        padding-right: 0px;
    }
    #profile_image ~ span > button {
        margin-left: 0px;
        display: block;
        margin: auto;
        margin-top: 5%;
    }
}


@media only screen and (min-width:280px) and (max-width:480px) {

    /* banner */
    #banner .content {
        padding-top: 54%;
        padding-bottom: 21%;
    }

    /* developer card */
    .developer_wrapper {
        width: 98%;
        height: 445px;
    }
    .devepoper_detail_wrapper,
    .second_dev .devepoper_detail_wrapper {
        padding-top: 1%;
        padding-bottom: 0%;
        margin-top: 1.7%;

    }
    .devepoper_detail_wrapper h4 {
        margin-bottom: 9px;
        font-size: 22px;
    }
    .devepoper_detail_wrapper #profession:before,
    .devepoper_detail_wrapper #place:before {
        width: 20px;
        height: 20px;
        margin-left: -23px;
        margin-top: -4px;
    }
    .devepoper_detail_wrapper h6 {
        letter-spacing: 0.2px;
        font-size: 12px;
        margin-bottom: 8px;
    }
    .devepoper_detail_wrapper h5 {
        font-size: 17px;
        margin-top: 1px;
        margin-bottom: 4px;
    }
    .lang img {
        width: 22px;
    }

    /* span */
    #profile_image ~ span > h3 {
        font-size: 26px;
    }
    #profile_image ~ span > img {
        width: 12%;
        padding-right: 0px;
        padding-top: 2%;
    }
    #profile_image ~ span > button {
        padding: 0.7% 6%;
    }
}
