/* nav styling for all */

/*-- NAV --*/

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 3%;
    transition: all 0.3s;
    z-index: 1000;
    transition: all 0.3s;
}

.logo {
    font-family: 'Roboto', sans-serif !important;
    cursor: pointer;
    float: left;
    margin-left: 10.3%;
    text-decoration: none;
    transition: all 0.3s;
}

.logo h3 {
    font-family: 'Roboto', sans-serif !important;
    text-transform: capitalize;
    text-decoration: none;
    color: #f4987d;
    font-size: 1.6rem;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.logo p {
    font-family: 'Roboto', sans-serif !important;
    color: rgba(244, 244, 244, 0.63);
    font-size: 11px;
    text-align: center;
    margin-top: -3%;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.logo:hover > h3 {
    color: #ef7272;
}

.logo:hover > p {
    color: #68b0f1;
}

nav {
    float: right;
    margin-top: 0.7%;
    margin-right: 11.5%;
    transition: all 0.3s;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 3rem;
    display: inline-block;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-position: under;
    transition: all 0.2s;
}

nav a:after {
    content: ' ';
    height: 2.6px;
    background: transparent;
    display: block;
    margin-top: 2%;
    width: 95%;
    margin: auto;
    transition: all 0.35s;
}

nav a:after:hover {
    background: #fee4c9;
}

nav a:first-child {
    margin-left: 0%;
}

nav a:hover {
    color: rgb(245, 172, 172);
}

.active_nav:after {
    content: ' ';
    height: 2.6px;
    background: #fee4c9;
    display: block;
    margin-top: 2%;
    width: 95%;
    margin: auto;
    transition: all 0.2s;
}

a:hover:after {
    background: #f45151;
}




/* anim starter */

.activeNavbar {
    padding-top: 0.65% !important;
    padding-bottom: 0.65% !important;
    background: #2d2322;
    /* Old browsers */
    background: -moz-linear-gradient(left, #44352d 0%, #2d2322 50%, #1a1a1c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #44352d 0%, #2d2322 50%, #1a1a1c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #44352d 0%, #2d2322 50%, #1a1a1c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44352d', endColorstr='#1a1a1c', GradientType=1);
    /* IE6-9 */
}

.activeLogo {
    margin-left: 4%;
}

.activeNav {
    margin-right: 6%;
}

@media only screen and (min-width:280px) and (max-width:1024px) {
    /* logo */
    .logo {
        margin-left: 5.3%;
    }
    .logo h3 {
        font-size: 1.5rem;
    }
    .logo p {
        font-size: 11px;
    }
    nav {
        margin-right: 5.5%;
    }
}



@media only screen and (min-width:280px) and (max-width:800px) {
    nav {
        visibility: hidden;
    }

    .navbar {
        padding-top: 2.5% !important;
        padding-bottom: 2.5% !important;
    }

    .logo {
        margin-left: 4% !important;
    }

    /* = = =  Menu = = = */
    .menu {
        width: 40px;
        position: fixed;
        right: 0px;
        cursor: pointer;
        margin: 10px 30px 2px 0px;
        z-index: 1000;
    }

    .noSelect {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        tap-highlight-color: rgba(255, 255, 255, 0);
    }
    .menu span {
        width: 100%;
        height: 4px;
        display: block;
        /*background-color: #ef3131;   red */
        background-color: #d17a61;
        margin: 0px;
        border-radius: 5px;
        transition: all 0.35s;
    }
    .menu span:nth-child(2) {
        width: 60%;
        margin: 6px 0px;
        transition: all 0.45s cubic-bezier(0.58, -1, 0.25, 1);
    }
    .menu span:last-child {
        width: 85%;
        margin: 6px 0px;
        transition: all 0.35s;
    }
    .menu:hover span:nth-child(2) {
        width: 100%;
    }
    .menu:hover span:last-child {
        width: 100%;
    }
    .activeMenu span:first-child {
        transform: translate(0%, 260%) rotate(40deg);
        width: 100%;
    }
    .activeMenu span:nth-child(2) {
        opacity: 0;
        margin-left: 120%;
        width: 100%;
    }
    .activeMenu span:last-child {
        transform: translate(0%, -260%) rotate(-40deg);
        width: 100%;
    }
    .activeMenu:hover span:last-child {
        width: 100%;
    }
    nav {
        position: fixed;
        top: 0%;
        transform: translateX(100%);
        width: 100%;
        height: 100vh;
        background-color: rgba(20, 8, 4, 0.96);
        float: none;
        margin-right: 0px;
        margin-top: 0px;
        z-index: 500;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s 0.1s cubic-bezier(0.4, 0, 1, 1);
        ;
    }
    .navOnOff {
        visibility: visible;
        opacity: 1;
        transform: translateX(0%);
    }
    .nav_container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    nav a:first-child {
        border-top: 2px solid white;
    }
    nav a {
        text-decoration: none;
        color: white;
        margin: 0px;
        display: block;
        text-align: center;
        font-size: 25px;
        padding: 5px 0;
        border-bottom: 2px solid white;
        text-transform: uppercase;
        background-color: #140703;
        background-size: 100%;
        transition: all 0.3s ease-out;
    }
    nav a:hover {
        text-decoration: none;
        background-color: #690404;
        color: white;
        background-size: 0% 200%;
    }
    .active_nav {
        text-decoration: none !important;
    }
    .active_nav:after {
        display: none;
    }
    /*== menu over ==*/
}





@media only screen and (min-width:280px) and (max-width:480px) {
    /* nav */
    .logo h3 {
        font-size: 20px;
    }
    .logo p {
        font-size: 9px;
    }
    .menu {
        margin: 4px 20px 2px 0px !important;
    }
    .activeNavbar {
        box-shadow: 0px 2px 20px -1px rgba(28, 28, 28, 0.82);
    }
}
