
    /* anim starter */

.activeNavbar{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background: #2d2322;
    /* Old browsers */
    background: -moz-linear-gradient(left, #44352d 0%, #2d2322 50%, #1a1a1c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #44352d 0%, #2d2322 50%, #1a1a1c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #44352d 0%, #2d2322 50%, #1a1a1c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44352d', endColorstr='#1a1a1c', GradientType=1);
    /* IE6-9 */
}

.activeLogo {
    margin-left: 4%;
}

.activeNav {
    margin-right: 6%;
}

    /* anim end */