/*

    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;

*/

/*
body {
    background-color: #e8e8e8;
}*/

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#popup {
    position: fixed;
    top: 0px;
    background-color: rgba(33, 33, 33, 0.68);
    width: 100%;
    height: 100vh;
    z-index: 100;
    visibility: hidden;
    transition: all 0.3s;
}

.popup_container {
    width: 650px;
    float: left;
    background-color: #fefefe;
    border-radius: 0.45rem;
    box-shadow: 4px 6px 20px 0px #0d0d0dbd;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.45s 0.1s;
    opacity: 0;
    visibility: hidden;
}

.show_popup {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
    padding: 0.4%;
}

.remove_popup {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
    visibility: hidden;
}

.petimage {
    display: inline-block;
    width: 310px;
}

.petimage img {
    width: 270px;
    margin-top: 5%;
    margin-left: 5%;
}

.pet_detail {
    width: 50%;
    display: inline-block;
    float: right;
    margin-right: 2%;
    margin-top: 1.5%;
    margin-bottom: 1.9%;
}

.pet_detail h4 {
    color: #535353;
    font-size: 3rem
}

.pet_detail h6 {
    color: #535353;
    font-size: 1rem;
    margin-top: 1.3%;
    margin-bottom: 1.5%;
}

.pet_detail p {
    color: #909090;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.6px;
    font-weight: 500;
    margin-top: 1.3%;
    margin-bottom: 1.5%;
}

.pet_detail ul {
    list-style-type: none;
    margin-top: 3%;
}

.pet_detail ul li {
    font-family: 'montserrat', sans-serif;
    color: #545454;
    font-weight: 600;
    font-size: 1rem;
    overflow: none;
    position: relative;
    margin-left: 5%;
    line-height: 1.45rem;
}

.pet_detail ul li span:first-child {
    font-size: 3.5rem;
    color: #f1cdb3;
    font-size: 3.3rem;
    line-height: 0.9rem;
    margin-left: -6%;
    position: absolute;
}


/* button */

.cross_button {
    cursor: pointer;
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;
    border: 2px solid #f1cdb3;
    position: absolute;
    top: -11%;
    right: -4%;
    background-color: #f1f1f1;
    transition: all 0.3s;
}

.cross_button p {
    text-align: center;
    margin-top: -4%;
    /*color: #f1cdb3;*/
    color: #1c1c1c;
    font-size: 1.5rem;
    font-weight: 900;
}

.cross_button:hover {
    background-color: #f1cdb3;
    border: 2px solid rgba(60, 60, 60, 0.74);
}

.cross_button:hover > p {
    /*color: #eeeeee;*/
    color: #141414;
}

@media only screen and (min-width:280px) and (max-width:800px) {

    .popup_container {
        width: 500px;
    }
    .petimage {
        width: 230px;
    }
    .petimage img {
        width: 230px;
        margin-top: 6%;
        margin-left: 1%;
    }
    .pet_detail h4 {
        color: #535353;
        font-size: 30px;
    }
    .pet_detail h6 {
        color: #535353;
        font-size: 14px;
    }
    .pet_detail p {
        font-size: 11px;
    }
    .pet_detail ul li {
        font-size: 13px;
        line-height: 23px;
    }
    .pet_detail ul li span:first-child {
        font-size: 43px;
        line-height: 18px;
    }
    .cross_button {
        top: -13%;
        right: -6%;
    }
}

@media only screen and (min-width:280px) and (max-width:600px) {
    .popup_container {
        width: 403px;
    }
    .petimage {
        width: 191px;
    }
    .petimage img {
        width: 174px;
        margin-top: 8%;
    }
    .pet_detail h4 {
        font-size: 26px;
    }
    .pet_detail h6 {
        font-size: 11px;
    }
    .pet_detail p {
        font-size: 8px;
    }
    .pet_detail ul li {
        font-size: 10px;
        line-height: 18px;
    }
    .pet_detail ul li span:first-child {
        font-size: 38px;
        line-height: 11px;
    }
    .cross_button {
        top: -13%;
        right: -6%;
        height: 24px;
        width: 24px;
    }
    .cross_button p {
        font-size: 18px;
    }
}

@media only screen and (min-width:280px) and (max-width:480px) {
    .show_popup {
        width: 82%;
    }
    .petimage {
        width: 37%;
    }
    .petimage img {
        width: 138px;
        margin-top: 16%;
        margin-left: -1%;
    }
    .pet_detail h4 {
        font-size: 19px;
    }
    .pet_detail h6 {
        font-size: 11px;
    }
    .pet_detail p {
        font-size: 7.5px;
    }
    .pet_detail ul li {
        font-size: 9px;
        line-height: 14px;
    }
    .pet_detail ul li span:first-child {
        font-size: 31px;
        margin-left: -8%;
        line-height: 11px;
    }
    .cross_button {
        top: -12%;
        right: -8%;
    }
}
